<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NoteHighLightForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <section name="HighLightSection" type="GenerateHighLightContent.HighLightSection, GenerateHighLightContent"/>
    </configSections>
    <userSettings>
        <NoteHighLightForm.Properties.Settings>
            <setting name="ShowLineNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveOnClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighLightStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </NoteHighLightForm.Properties.Settings>
    </userSettings>
  <!--highlight CLI options Document:http://www.andre-simon.de/doku/highlight/en/highlight.html -->
  <HighLightSection FolderName="highlight" ProcessName="highlight.exe">
    <GeneralArguments>
      <add Name="InputFile" Key="-i" Value="{inputFileName}"/>
      <add Name="Syntax" Key="-S" Value="{codeType}"/>
      <add Name="OutputFile" Key="-o" Value="{outputFileName}"/>
      <add Name="InlineCss" Key="--inline-css" Value=""/>
    </GeneralArguments>
    <OutputArguments>
      <add Name="Fragment" Key="-f" Value=""/>
      <add Name="IncludeStyle" Key="-I" Value=""/>
      <add Name="Encoding" Key="-u" Value="utf-8"/>
      <add Name="LineNumbers" Key="-l" Value="" Option="true"/>
      <add Name="Style" Key="-s" Value="{highLightStyle}"/>
      <add Name="LineNumberLength" Key="-j" Value="5"/>
    </OutputArguments>
  </HighLightSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
